#!/usr/bin/env bash

# Workaround for pipenv since the secrets are encrypted via dotenvx
export PIPENV_DONT_LOAD_ENV=1
# load dotenvx and friends from node_modules/.bin directory to PATH
export PATH="$PWD/script:${PWD}/node_modules/.bin:$PATH"